$color-primary: #3046C5;
$color-secondary: #5637dd;
$color-pale: #CEC8FF;
$color-mid: #901CAD;
$color-dark: #60106b;
$color-black-transparent: rgba(0, 0, 0, 0.5);
$color-teal: #17A2B8;

$body-font: "Open Sans", sans-serif;
$header-font: "Lobster", cursive;

body {
    font-family: $body-font;
}

h1, h2, h3 {
   font-family: $header-font;
}

h2 {
   color: $color-primary;
}

header {
    padding: 30px;
    background-image: linear-gradient(to right, $color-secondary, $color-primary, $color-dark);
    color: white;
    h2 {
    color: $color-pale;
    }
}

footer {
    background-image:linear-gradient($color-pale,white);
    padding: 20px 0;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: $color-mid;
}

.accordion-button {
    background-color: #d3d3d3;
}

.carousel-caption {
    background-color: $color-black-transparent;
}
.carousel {
    border: solid $color-secondary;
}
// This CSS/SCSS ruleset uses absolute positioning to place the 
// buttons in the bottom-right corner of the carousel container
#carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
}

// Weather navbar spacing improvements
#weather {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

#weather > span,
#weather img {
    margin-right: 0.5rem;
}
#weather > span:nth-child(2) {
    white-space: nowrap;
}
#weather div {
    width: 100%;
    font-size: 0.9em;
    color: #e0e0e0;
    margin-top: 2px;
}

@import 'modal';
@import 'review-section';
@import 'weather';